* {
    font-family: sans-serif;
}

body {
    background-color: #000;
    font-family: Arial;
    font-size: x-large;
}

.shabElem {
  -webkit-animation-duration: 6s;
  -webkit-animation-delay: 1s;
}

.divElementCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -350px;
    width: 700px;
    height: 50px;
}​